@font-face {
    font-family: 'Poiret One';
    src: url('/asset/fonts/Poiret_One/PoiretOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}